<div class="row">
    <div class="col-md:12">
        <h3>Add Post</h3>
        <form >
            <div class="from-group">
                <label >Title</label>
                <input  class="form-control" type="text">
            </div>
            <div class="from-group">
                <label >Description</label>
                <textarea  class="form-control" type="text"></textarea>
            </div>
            <div class="from-group">
                <label >Image path</label>
                <input  class="form-control" type="text">
            </div>
<br>
<br>

            <button class="btn btn-success" type="submit">Save</button> |
            <button class="btn btn-primary" type="submit">Clear</button>
        </form>
    </div>
</div>